/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Cabecera */
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #495057;
    text-align: left;  /* Alinea el título principal a la izquierda */
    margin-bottom: 20px;
}

/* Formulario */
.form-group {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.2em;
    color: #495057;
    margin-right: 10px;
}

.form-control {
    width: auto;  /* Ajusta el ancho del input */
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-right: 10px; /* Espacio entre el input y el botón */
}

button {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
}

/* Botones de acción */
#saveButton {
    background-color: #28a745;
    color: white;
}

#deleteButton {
    background-color: #f52cf5;  /* Este es el color que mencionaste */
    color: white;
}

#createButton {
    background-color: #dc3545;  /* Mantiene el color rojo */
    color: white;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #495057;
    text-align: center;
}

thead th {
    background-color: #c0ddfa;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Canvas */
canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 20px;
}

/* Contenedor de botones al final */
.button-container {
    text-align: center;
    margin-top: 20px;
}
